* {
    margin: 2px;
}
body {
    color: #e6e6e6;
    background-color: #eeeeee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;


    div {

        margin: 0 1rem;
    }

    .container {
        background-color:#468DF1 ;
        padding: 1rem 0;
        border: 4px solid #468DF1;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 330px;
        height: fit-content;
        max-width: 640px;
        box-shadow: 10px 10px 20px darkgray;

        .users {
            margin-bottom: 20px;

            h1 {
                margin: 5px;
                font-size: 40pt;
                font-weight: 300;
            }
        }

        .vpm {
            opacity: 0.7;
            font-size: 11pt;
        }

        .views {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            p {
                border-bottom: 1px solid rgba(255, 255, 255, 0.315);
                font-size: 9pt;

                
            }

           /* HR's were deleted, keep properties incase solution is better than using borders
           
           .line1 {
                display: hidden;
                border-bottom:  1px solid rgba(255, 255, 255, 0.315);
                align-self: center;
                width: 100%;

            }*/

            img {
                align-self: center;
                width: 100%;
        
            }
        }

        .report {
            border-top: 1px solid rgba(255, 255, 255, 0.315);
            padding: 0;
            text-align: right;

            span {
                font-weight: bolder;
            }

            a {
                text-decoration: none;
                color: #e6e6e6;

            }
        }

    }


    .data {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;

        tr.tr td {
            border-bottom: 1px solid rgba(255, 255, 255, 0.315);
        }

        tbody {
            font-size: 10pt;
        }

        .count {
            text-align: right;

        }
    }
    .container:hover {
        box-shadow: 8px 8px 30px darkgray;
    }


}



@media all and (min-width: 640px) {
}